.slider__nav{max-height:250px}@media (min-widht: 1200px){.slider__nav{max-height:300px}}@media (min-widht: 1400px){.slider__nav{max-height:350px}}
/* 13 */
.btn-13 {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 5;
}

    .btn-13:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        border-radius: 5px;
        background-color: #4dccc6;
        background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
        box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
        transition: all 0.3s ease;
    }

    .btn-13:hover {
        color: #fff;
    }

        .btn-13:hover:after {
            top: 0;
            height: 100%;
        }

    .btn-13:active {
        top: 2px;
    }
