 <div class="card mt-3">
    
      <div class="card-body">
            <form action="/search">
                
   

            <div class="form-check">
                <input name="q" class="form-check-input" type="checkbox" value="Jel Ak端" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Jel Ak端
                </label>
            </div>

            <div class="form-check">
                <input name="q" class="form-check-input" type="checkbox" value="Lityum Ak端" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                Lityum Ak端
                </label>
            </div>

         </form>
      </div>
  </div>
  


   <script>
   jOuery(document).ready(function ($) {
    $("#filter").submit(function () {
        $(this).find(":input").filter(function() { return !this.value;}).attr("disabled","disabled");
        return true;
    });
    $("form").find(":input").prop("disabled", false);
   });
   </script>